.container {
    margin-right: auto;
    /* 1 */
    margin-left: auto;
    /* 1 */
    max-width: 1000px;
    /* 2 */
    // padding-right: 10px;
    /* 3 */
    // padding-left: 10px;
    /* 3 */
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-size: 1.6rem;
    line-height: 5rem;
}

html {
    font-size: 62.5%;
    font-family: $font-stack;
    color: $black;
    scroll-behavior: smooth;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

li {
    list-style-type: square;
    padding: 1rem 0;
}