.container {
    width: 1200px;
    margin: auto;
}
body {
    height: 100%;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: $font-stack;
    color: $black;
}
body {
    font-size: 2rem;
    line-height: 5rem;
}
li {
    list-style-type: square;
    padding: 3rem 0;
}
