/*********************
BREAKPOINTS
*********************/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.container {
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 960px;
  /* 2 */
  padding-right: 10px;
  /* 3 */
  padding-left: 10px;
  /* 3 */
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1.6rem;
  line-height: 5rem;
}

html {
  font-size: 62.5%;
  font-family: Rubik, sans-serif;
  color: #000000;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

li {
  list-style-type: square;
  padding: 1rem 0;
}

header {
  width: 100%;
  color: white;
}
header .main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #661FFF;
  padding: 2rem 4rem;
  border-bottom: 1px solid-black;
}
@media (max-width: 1000px) {
  header .main-nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  header .main-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
header .main-nav .login {
  padding: 10px 4rem;
  border: 1px solid black;
  color: #4A4A4A;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
  margin-left: 5rem;
}
header .main-nav .login:hover {
  color: white;
  background-color: #4A4A4A;
  cursor: pointer;
}
header .logo {
  font-family: "Noteworthy", cursive;
  display: flex;
}
header .logo .logo-img {
  width: auto;
  height: 8rem;
}
header nav {
  padding-right: 18 rem;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
  }
}
header nav a {
  margin: 2rem 0;
  padding: 10px 3rem;
  text-decoration: none;
  color: white;
}
@media (max-width: 1000px) {
  header nav a {
    margin: 0 2em;
    padding: 0;
  }
}
@media (max-width: 500px) {
  header nav a {
    margin: 0;
    padding: 0;
  }
}
header nav a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid black;
  padding-top: 30px;
}
footer .footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 4rem;
}
@media (max-width: 500px) {
  footer .footer-icons {
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  footer .apps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  footer .apps img {
    height: 100%;
    object-fit: contain;
  }
}
footer .apps .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
footer .apps .icons a {
  margin: 0 1.3rem;
}
footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
footer .copyright img {
  height: 4rem;
  width: auto;
}

.home .banner {
  display: flex;
  z-index: 1;
  background-image: url(../images/colormatch/pexels-photo-206359.jpeg);
  object-fit: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  text-align: center;
  line-height: 10rem;
}
@media (max-width: 500px) {
  .home .banner {
    height: 50vh;
    object-fit: contain;
    font-size: 2rem;
  }
}
@media (max-width: 1000px) {
  .home .banner {
    height: 75vh;
    object-fit: contain;
    font-size: 4rem;
  }
}
.home .banner .banner-text {
  opacity: 0.8;
}
.home .banner .banner-text span {
  font-size: 13rem;
}
@media (max-width: 500px) {
  .home .banner .banner-text span {
    font-size: 3rem;
  }
}
@media (max-width: 1000px) {
  .home .banner .banner-text span {
    font-size: 6rem;
  }
}
.home .banner .banner-text .highlight {
  text-decoration: underline overline;
  font-size: 9rem;
  opacity: 0.9;
}
@media (max-width: 500px) {
  .home .banner .banner-text .highlight {
    font-size: 3rem;
  }
}
@media (max-width: 1000px) {
  .home .banner .banner-text .highlight {
    font-size: 6rem;
  }
}
.home .advertising {
  display: flex;
  justify-content: space-between;
  align-items: row;
  flex-direction: row;
  background-color: #4A4A4A;
  color: white;
  line-height: 4rem;
}
@media (max-width: 1000px) {
  .home .advertising {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .home .advertising {
    display: flex;
    flex-direction: column;
  }
}
.home .split-column {
  margin: 2rem 4rem;
  width: 50%;
  text-align: center;
}
@media (max-width: 1000px) {
  .home .split-column {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .home .split-column {
    width: 100%;
    margin: 0;
  }
}
.home .split-column h2 {
  font-size: 6rem;
  line-height: 7rem;
}
.home .split-column .logo-style {
  font-family: "Noteworthy";
}

.list .tabs {
  width: 100%;
}
.list .topics {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 30px 0;
  align-items: center;
}
.list .trip-filter {
  display: flex;
  padding: px 0;
}
@media (max-width: 1000px) {
  .list .trip-filter {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .list .trip-filter {
    display: flex;
    flex-direction: column;
  }
}
.list .title {
  font-size: 3rem;
}
.list .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 4rem;
  border: 1px solid black;
  color: white;
  background-color: #F5A623;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 2rem;
}
.list .active-tab {
  padding: 10px 4rem;
  border: 1px solid black;
  color: white;
  background-color: #661FFF;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
}
.list .main-page {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .list .main-page {
    width: 100%;
  }
}
.list .card {
  margin: 10px 1rem;
  width: 47%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .list .card {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .list .card {
    width: 100%;
  }
}
.list .card .image {
  width: 45vh;
  height: auto;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .list .card .image {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}

/*# sourceMappingURL=index.css.map */
