/*********************
BREAKPOINTS
*********************/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.container {
  margin-right: auto;
  /* 1 */
  margin-left: auto;
  /* 1 */
  max-width: 1000px;
  /* 2 */
  /* 3 */
  /* 3 */
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1.6rem;
  line-height: 5rem;
}

html {
  font-size: 62.5%;
  font-family: Rubik, sans-serif;
  color: #000000;
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

li {
  list-style-type: square;
  padding: 1rem 0;
}

header {
  color: white;
}
header .main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #661FFF;
  padding: 2rem 4rem;
  border-bottom: 1px solid-black;
}
@media (max-width: 1000px) {
  header .main-nav {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  header .main-nav {
    display: flex;
    justify-content: none;
    align-items: none;
    flex-direction: column;
    padding: 0;
  }
}
@media (max-width: 500px) {
  header .main-nav .sign-up {
    margin: 10px 0 5px 0;
  }
}
header .main-nav .sign-up .login {
  padding: 10px 4rem;
  border: 1px solid black;
  color: white;
  background-color: #4A4A4A;
  border-radius: 10px;
  text-decoration: none;
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  margin-left: 5rem;
}
header .main-nav .sign-up .login:hover {
  color: #4A4A4A;
  background-color: white;
  cursor: pointer;
}
@media (max-width: 500px) {
  header .main-nav .sign-up .login {
    margin: 20px 0;
  }
}
header .main-nav .sign-up .login:hover {
  background-color: #F5A623;
}
header .main-nav .logo {
  font-family: "Noteworthy", cursive;
  display: flex;
}
header .main-nav .logo .logo-img {
  width: auto;
  height: 6rem;
}
@media (max-width: 500px) {
  header .main-nav i {
    display: none;
  }
}
@media (max-width: 500px) {
  header .main-nav .navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
header .main-nav .nav-btn {
  display: none;
}
@media (max-width: 500px) {
  header .main-nav .nav-btn {
    display: block;
  }
}
header .main-nav .nav-container {
  display: block;
}
@media (max-width: 500px) {
  header .main-nav .nav-container {
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .main-nav .nav--open {
    display: none;
  }
}
@media (max-width: 500px) {
  header .main-nav nav {
    display: block;
    padding: 0;
    width: 100%;
  }
}
header .main-nav nav a {
  margin: 2rem 0;
  padding: 10px 3rem;
  text-decoration: none;
  color: white;
}
@media (max-width: 1000px) {
  header .main-nav nav a {
    margin: 0 2em;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  header .main-nav nav a {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
  }
}
header .main-nav nav a:hover {
  text-decoration: underline;
}
@media (max-width: 500px) {
  header .main-nav nav a:hover {
    background-color: #F5A623;
  }
}

footer {
  border-top: 1px solid black;
  padding-top: 30px;
}
footer .footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 4rem;
}
@media (max-width: 500px) {
  footer .footer-icons {
    object-fit: cover;
  }
}
@media (max-width: 500px) {
  footer .apps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  footer .apps img {
    height: 100%;
    object-fit: contain;
  }
}
footer .apps .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
footer .apps .icons a {
  margin: 0 1.3rem;
}
footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
footer .copyright img {
  height: 4rem;
  width: auto;
}

.home {
  padding: 0 10px 0 10px;
}
.home .banner {
  object-fit: fill;
  width: 100%;
  display: flex;
  justify-content: center;
}
.home .banner img {
  width: 100%;
}
.home .banner .mobile-head {
  display: none;
}
@media (max-width: 500px) {
  .home .banner .head-img {
    display: none;
  }
  .home .banner .mobile-head {
    display: block;
  }
  .home .banner img {
    width: 100vw;
  }
}
@media (max-width: 1000px) {
  .home .banner {
    height: 400px;
    object-fit: cover;
  }
  .home .banner img {
    width: 100%;
  }
}

.advertising {
  display: flex;
  justify-content: space-between;
  align-items: row;
  flex-direction: row;
  background-color: #4A4A4A;
  color: white;
  line-height: 4rem;
}
@media (max-width: 1000px) {
  .advertising {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .advertising {
    display: flex;
    flex-direction: column;
  }
}

.split-column {
  margin: 2rem 4rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.split-column h2 {
  text-align: center;
}
@media (max-width: 1000px) {
  .split-column {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .split-column {
    width: 100%;
    margin: 0;
  }
}
.split-column h2 {
  font-size: 6rem;
  line-height: 7rem;
}
.split-column .logo-style {
  font-family: "Noteworthy";
}

.list .tabs {
  width: 100%;
}
.list .topics {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 30px 0;
  align-items: center;
}
.list .trip-filter {
  display: flex;
  padding: px 0;
}
@media (max-width: 1000px) {
  .list .trip-filter {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .list .trip-filter {
    display: flex;
    flex-direction: column;
  }
}
.list .trending {
  font-size: 3rem;
}
@media (max-width: 500px) {
  .list .trending {
    font-size: 2rem;
  }
}
.list .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  border: 1px solid black;
  color: white;
  background-color: #F5A623;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.281);
  margin: 0 2rem;
}
.list .active-tab {
  padding: 0 4rem;
  border: 1px solid black;
  color: white;
  background-color: #661FFF;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.281);
}
.list .main-page {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .list .main-page {
    width: 100%;
  }
}
.list .main-page .date {
  position: absolute;
  z-index: 2;
  background-color: #F5A623;
  font-size: 1.2rem;
  padding: 0 2rem;
}
.list .card {
  position: relative;
  margin: 10px 0;
  width: 47%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .list .card {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .list .card {
    width: 100%;
  }
}
.list .card .image {
  z-index: 1;
  width: 45vh;
  height: auto;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .list .card .image {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
.list .card .title {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}
.list .card .title .author {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}
.list .card-small {
  margin: 10px 0;
  width: 20%;
  height: auto;
  border-bottom: 1px solid black;
}
@media (max-width: 500px) {
  .list .card-small {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .list .card-small {
    width: 100%;
  }
}
.list .card-small .image {
  width: 20%;
  height: auto;
  object-fit: cover;
}
@media (max-width: 1000px) {
  .list .card-small .image {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
.list .card-small .title {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}
.list .card-small .title .author {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.about html {
  color: white;
}
.about h1 {
  font-size: 5rem;
  padding: 30px 0;
  text-align: center;
  color: black;
}
.about h2 {
  font-size: 3rem;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}
.about h3 {
  font-size: 2rem;
  text-align: center;
  color: white;
}
.about p {
  color: black;
}
.about .row {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.about .row a {
  display: flex;
  align-items: center;
  text-decoration-color: none;
  text-decoration: none;
  color: white;
}
.about .row i {
  margin-left: 10px;
}
.about .team {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  background-color: #4A4A4A;
}
.about .underline {
  border-bottom: 1px solid black;
}

/*# sourceMappingURL=index.css.map */
