/*********************
BREAKPOINTS
*********************/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

.container {
  width: 1000px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-size: 1.6rem;
  line-height: 5rem;
}

html {
  font-size: 62.5%;
  font-family: Rubik, sans-serif;
  color: #000000;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

li {
  list-style-type: square;
  padding: 3rem 0;
}

header {
  width: 100%;
  color: white;
}
header .main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #661FFF;
  padding: 2rem 4rem;
  border-bottom: 1px solid-black;
}
header .main-nav .login {
  padding: 10px 4rem;
  border: 1px solid black;
  color: #4A4A4A;
  background-color: white;
  border-radius: 10px;
  text-decoration: none;
}
header .main-nav .login:hover {
  color: white;
  background-color: #4A4A4A;
}
header .logo {
  font-family: "Noteworthy", cursive;
  display: flex;
}
header .logo .logo-img {
  width: auto;
  height: 8rem;
}
header nav {
  padding-right: 18 rem;
}
header nav a {
  margin: 2rem 0;
  padding: 10px 3rem;
  text-decoration: none;
  color: white;
}
header nav a:hover {
  text-decoration: underline;
}

footer {
  border-top: 1px solid black;
  padding-top: 30px;
}
footer .icons {
  display: flex;
  justify-content: center;
}
footer .icons a {
  margin: 0 1.3rem;
}
footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
footer .copyright img {
  height: 5rem;
  width: auto;
}

.home .banner {
  display: flex;
  z-index: 1;
  background-image: url("images/colormatch/pexels-photo-206359.jpeg");
  /* Full height */
  height: 400px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  text-align: center;
  line-height: 10rem;
}
.home .banner .banner-text {
  opacity: 0.8;
}
.home .banner .banner-text span {
  font-size: 13rem;
}
.home .banner .banner-text .highlight {
  text-decoration: underline overline;
  font-size: 9rem;
  opacity: 0.9;
}
.home .main-page {
  display: flex;
  width: 100%;
  padding-top: 20px;
}
.home .main-page .image {
  height: auto;
  width: 40rem;
}
.home .main-page .left-column {
  width: 48%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  align-items: center;
  padding: 1rem;
}
.home .main-page .left-column .post {
  line-height: 2.4rem;
  margin: 0 2rem;
}
.home .main-page .left-column .post .title {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.home .main-page .left-column .post .author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 5rem;
}
.home .main-page .right-column {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.home .main-page .right-column .image {
  width: 50%;
}
.home .advertising {
  display: flex;
  justify-content: space-between;
  align-items: row;
  flex-direction: row;
  background-color: #4A4A4A;
  color: white;
}
.home .split-column {
  margin: 10rem 4rem;
  width: 50%;
  text-align: center;
}
.home .split-column h2 {
  font-size: 6rem;
  line-height: 7rem;
}
.home .split-column .logo-style {
  font-family: "Noteworthy";
}
.home .list .card {
  background-color: #4A4A4A;
  margin: 10px 1rem;
}

.list {
  border-top: 5px solid #F5A623;
  padding-top: 20px;
  background-color: #661FFF;
  height: 100%;
  color: white;
}
.list .topics {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list .topics .top-row-filter {
  display: flex;
  flex-direction: row;
}
.list .topics .second-row-filter {
  display: flex;
  flex-direction: row;
}
.list .topics .title {
  font-size: 6rem;
  margin-bottom: 2rem;
}
.list .topics .tab {
  cursor: pointer;
  border: 1px solid red;
  margin: 10px 2rem;
  background-color: #4A4A4A;
}
.list .cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.list .cards-container .card {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-direction: column;
  width: 380px;
}
.list .cards-container .card:hover {
  color: white;
  background-color: #F5A623;
}
.list .cards-container .author {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
}
.list .cards-container .author span {
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.list .cards-container .img-container {
  height: 40px;
}
.list .cards-container img {
  width: 40px;
}

/*# sourceMappingURL=index.css.map */
