footer {
    border-top: 1px solid black;
    padding-top: 30px;
    .footer-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 4rem;
        @include mobile {
            object-fit: cover;
        }
    }
    .apps {
        @include mobile {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 2rem;
            img {
                height: 100%;
                object-fit: contain;
            }
        }
        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem;
            a {
                // text-decoration-color: black;
                margin: 0 1.3rem;
            }
        }
    }
    .copyright {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        img {
            height: 4rem;
            width: auto;
        }
    }
}