.home {
    padding: 0 10px 0 10px;
    .banner {
        object-fit: fill;
        width: 100%;
        display: flex;
        justify-content: center; // border: 3px solid black;
        img {
            width: 100%;
        }
        .mobile-head {
            display: none;
        }
        .head-img {}
        @include mobile {
            // width: 100vw;
            // object-fit: fill;
            .head-img {
                display: none;
            }
            .mobile-head {
                display: block;
            }
            img {
                width: 100vw;
            }
        }
        @include tablet {
            height: 400px;
            object-fit: cover;
            img {
                width: 100%;
            }
        }
    }
}

.advertising {
    @include flex(space-between, row);
    background-color: $grey;
    color: white; // @include wire-border;
    line-height: 4rem;
    @include tablet {
        display: flex;
        flex-direction: column;
    }
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}

.split-column {
    margin: 2rem 4rem;
    width: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    @include tablet {
        width: 100%;
        margin: 0;
    }
    @include mobile {
        width: 100%;
        margin: 0;
    }
    h2 {
        font-size: 6rem;
        line-height: 7rem;
    }
    .logo-style {
        font-family: 'Noteworthy';
    }
}