.list {
    .tabs {
        width: 100%;
        margin-top: 20px;
    }
    .topics {
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0 30px 0;
        align-items: center;
    }
    .trending {
        font-size: 4rem;
        color: $violet;
        font-weight: 800; // @include text-focus-in;
        @include mobile {
            font-size: 3rem;
        }
    }
    .tab {
        // margin: 0 7rem; // @include wire-border;
        display: flex;
        justify-content: center;
        align-items: center;
        @include list-btn($orange);
        margin: 5px 2rem; // margin: 0
        &:hover {}
    }
    .active-tab {
        @include list-btn($violet);
    }
    .dropdown {
        cursor: pointer;
        display: flex;
        padding: px 0;
        @include tablet {
            display: flex;
            flex-direction: column;
        }
        @include mobile {
            display: flex;
            flex-direction: column;
        }
        button {
            padding: 10px 4.5rem;
        }
        .dropdown-button {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover {
                background-color: white;
                color: $orange;
            }
        }
        .dropdown-topics {
            display: flex;
            flex-direction: column;
        }
        .dropdown-content {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            @include mobile {
                display: flex;
                flex-direction: column;
            }
        }
        .dropdown-link {
            width: 100%;
        }
        .dropdown-hidden {
            display: none;
        }
    }
    .main-page {
        border-top: 1px solid black;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @include tablet {
            width: 100%;
        }
    }
    .card {
        position: relative;
        margin: 10px 0;
        padding: 20px 1.5rem;
        width: 47%;
        height: auto;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
        justify-content: space-between;
        @include mobile {
            width: 100%;
        }
        @include tablet {
            width: 100%;
        } // .image-container {
        //     z-index: 1;
        // }
        .date {
            position: absolute;
            z-index: 2;
            background-color: $orange;
            font-size: 1.2rem;
            padding: 0 2rem;
            i {
                margin-right: 1rem;
            }
        }
        .image {
            z-index: 1;
            width: 45vh;
            height: auto;
            object-fit: cover;
            @include tablet {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }
        .title {
            font-size: 3rem;
            display: flex; // justify-content: space-evenly;
            justify-content: space-between;
            .author {
                font-size: 1.6rem;
                display: flex;
                align-items: center;
                border-bottom: 1px solid black;
            }
        }
        button {
            @include custom-btn(white, $violet); // width: 10rem;
            // height: 5rem;
            justify-self: flex-end;
            width: 20%;
            padding: 5px 1rem;
            align-self: flex-end;
            ;
        }
    }
    .small-cards {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;
        .card-small {
            position: relative;
            margin: 10px 0;
            padding: 20px 1.5rem;
            width: 30%;
            height: auto;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid black;
            line-height: 25px;
            justify-content: space-between;
            &:hover {
                @include shadow-drop-2-center; // @include text-pop-up-top;
            }
            @include mobile {
                width: 100%;
            }
            @include tablet {
                width: 100%;
            } // .image-container {
            //     z-index: 1;
            // }
            .image {
                z-index: 1;
                width: 25vh;
                height: auto;
                object-fit: cover;
                box-shadow: 2px 5px 5px rgba(68, 68, 68, 0.6);
                @include tablet {
                    object-fit: contain;
                    width: 100%;
                    height: auto;
                }
            }
            .title {
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .author {
                    font-size: 1.6rem;
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                }
            }
            .date {
                position: absolute;
                z-index: 2;
                background-color: $orange;
                font-size: 1.2rem;
                padding: 0 2rem;
                i {
                    margin-right: 1rem;
                }
            }
            button {
                @include custom-btn(white, $violet); // width: 10rem;
                // height: 5rem;
                justify-self: flex-end;
                width: 30%;
                padding: 5px 2rem;
                align-self: flex-end;
                ;
            }
        }
    }
}