.list {
    // margin: 200px;
    border-top: 5px solid $orange;
    padding-top: 20px;
    background-color: $violet;
    height: 100%;
    color: white;
    .topics {
    display: flex;
    flex-direction: column;
    align-items: center;
    
        
        .top-row-filter {
            display: flex;
            flex-direction: row;
        }
        .second-row-filter {
            display: flex;
            flex-direction: row;
        }
        .title {
            // margin: 2% 0;
            // padding: 2% 0;
            // @include wire-border;
            font-size: 6rem;
            margin-bottom: 2rem;
        }
        .tab {
            cursor: pointer;
            @include wire-border;
            margin: 10px 2rem;
            background-color: $grey;
            
        }

    }
    .cards-container {
        @include flex(space-evenly);
        @include width-100;
        flex-wrap: wrap;
        
        .card {
            // @include wire-border;
            @include flex(space-between, none, column);
            width: 380px;
            &:hover {
                color: white;
                background-color: $orange;
        }
        }
        // .headline {
        // }
        .author {
            @include flex(none, center);
        
        span {
            padding-left: 10px;
            font-size: 12px;
            letter-spacing: 1px;
            font-weight: bold;
            }
        }
        .img-container {
            height: 40px;
            // @include wire-border;
        }    
            img {
                width: 40px;
            }
        
    
    }
}
