header {
    width: 100%;
    color: white;
    .main-nav {
        // position: fixed;
        width: 100%;
        @include flex(space-between, center, row);
        background-color: $violet;
        padding: 2rem 4rem;
        border-bottom: 1px solid-black; // margin-bottom: 20px;
        .login {
            @include custom-btn($grey, white);
            // margin: 0
        }
    }
    .logo {
        // padding: 10px 2rem;
        font-family: 'Noteworthy', cursive;
        display: flex;
        .logo-img {
            width: auto;
            height: 8rem;
        }
    }
    nav {
        padding-right: 18 rem;
        a {
            margin: 2rem 0;
            padding: 10px 3rem;
            text-decoration: none;
            color: white; // @include wire-border;
            &:hover {
                text-decoration: underline; // color: white;
                // background-color: $orange;
            }
        }
    }
}